form {
    margin: 20px auto; /* Устанавливаем отступы по вертикали и автоматическое выравнивание по горизонтали */
    max-width: 400px; /* Ограничиваем максимальную ширину формы, чтобы она не растягивалась на всю ширину экрана */
    text-align: left; /* Выравниваем текст внутри формы слева */
}

label {
    display: block;
    margin-bottom: 5px; /* Добавляем небольшой отступ между элементами формы */
    color: white;
    font-size: 23px;
}

input[type="text"],
textarea,
select {
    width: 100%; /* Растягиваем элементы ввода на всю доступную ширину */
    padding: 8px; /* Добавляем внутренние отступы вокруг элементов ввода */
    margin-bottom: 15px; /* Добавляем отступ после каждого элемента ввода */
    font-size: 23px; /* Устанавливаем размер текста для элементов ввода */
}

input[type="submit"] {
    background-color: #007bff; /* Устанавливаем цвет фона кнопки */
    color: #ffffff; /* Устанавливаем цвет текста кнопки в белый */
    font-size: 23px; /* Устанавливаем размер текста для кнопки */
    padding: 10px 20px; /* Добавляем внутренние отступы вокруг текста кнопки */
    border: none; /* Удаляем границу кнопки */
    cursor: pointer; /* Добавляем курсор-указатель при наведении на кнопку */
}

    input[type="submit"]:hover {
        background-color: #0056b3; /* Устанавливаем цвет фона кнопки при наведении */
    }
